html 
{
    background-image: url('https://i.stack.imgur.com/FWgYg.jpg');
    
}



  #title {
    color: white;
    padding-left: 34%;
    letter-spacing: 2px;
  }

  #description {

    font-size: 20px;
    color: white;
    padding-left: 30%;
    letter-spacing: 1px;
  }

  #ar1 {
    width: 700px;
    height: 1000px;
    background-color: rgb(56, 49, 56);
    opacity: 0.8;
    padding-top: 30px;
    padding-left: 30px;
    /*padding-right: 25%;
    padding-bottom: 25%; */
    border: none;
    margin-left: 24%;
  }
